.advantage {
  height: 190px;
  background: $main-color;
  color: #ffffff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.advantage__title {
  margin: 0 0 9px 0;
}

.advantage__text {
  margin: 0 0 14px 0;

  &--num {
    &::before {
      content: "\2014";
      margin: 0 10px;
    }

    &::after {
      content: "\2014";
      margin: 0 10px;
    }
  }
}

.advantage--bg {
  padding: 0;
  min-width: 320px;
  height: 260px;

  &-1 {
    background: #d5806d url("../img/main-city-mobile@1x.jpg") center/100% no-repeat;
    background-clip: border-box;
  }

  &-2 {
    background: #d5806d url("../img/main-bridge-mobile@1x.jpg") center/100% no-repeat;
    background-clip: border-box;
  }
}

.advantage--secondary {
  background: $lightgray;
  color: black;
}

@media (min-width: $tablet-width) {
  .advantage {
    width: 256px;
    height: 256px;
    padding: 45px;

    &--pos1 {
      order: 2;
    }

    &--pos2 {
      order: 1;
    }

    &--pos3 {
      order: 3;
    }

    &--pos4 {
      order: 4;
    }

    &--pos5 {
      order: 5;
    }
  }

  .advantage__text {
    margin: 0 0 20px 0;
  }

  .advantage__title {
    margin: 0 0 10px 0;
  }

  .advantage--secondary {
    flex-grow: 1;
  }

  .advantage--bg {
    min-width: 511px;
    height: 256px;
    flex-grow: 1;

    &-1 {
      background: url("../img/main-city-tablet@1x.jpg") center/100% no-repeat;
    }

    &-2 {
      background: url("../img/main-bridge-tablet@1x.jpg") center/100% no-repeat;
    }
  }

  @media (min-resolution: 1.5dppx) {
    .advantage--bg {
      &-1 {
        background: url("../img/main-city-tablet@2x.jpg") center/100% no-repeat;
      }

      &-2 {
        background: url("../img/main-bridge-tablet@2x.jpg") center/100% no-repeat;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .advantage {
    width: 400px;
    height: 256px;
    padding: 40px;
  }

  .advantage__title {
    margin: 13px 0 10px 0;
    padding: 0 80px;
  }

  .advantage--secondary {
    flex-grow: 1;
    padding: 35px 50px;
  }

  .advantage--bg {
    min-width: 511px;
    height: 256px;
    flex-grow: 1;

    &-1 {
      background: url("../img/main-city-desktop@1x.jpg") center/100% no-repeat;
    }

    &-2 {
      background: url("../img/main-bridge-desktop@1x.jpg") center/100% no-repeat;
    }
  }

  .advantage__text {
    margin: 0 0 20px 0;
  }
}


