.advantages {
  display: flex;
  flex-direction: column;
  background-color: $main-color;
  padding-top: 40px;
}

@media (min-width: $tablet-width) {
  .advantages {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0;
  }
}
