.author {
  position: relative;
  padding-right: 40px;
  margin-top: 30px;
}

.author__link {
  position: absolute;
  right: 0;
  bottom: -12px;
}

@media (min-width: $tablet-width) {
  .author {
    margin-top: 9px;
  }
}

@media (min-width: $desktop-width) {
  .author {
    margin-top: 10px;
  }
}
