.author {
  position: relative;
  margin: 40px 0;
}

.author__link {
  display: inline-block;
  width: 30px;
  height: 35px;
  position: absolute;
  bottom: -5px;
  margin: 0 10px;
  background: url("../img/logo-htmlacademy.svg") no-repeat;
}
