.description {
  position: relative;
  min-width: 320px;
  height: 202px;
  padding: 0 30px;

  &--sub {
    height: 175px;
    padding: 10px 25px;
  }

  &--sub-size-m {
    height: 190px;
    padding: 10px 20px;
  }
}

.description__text {
  margin-top: 25px;
}

@media (min-width: $tablet-width) {
  .description {
    width: 702px;
    height: 186px;
    margin: 0 auto;
    padding: 10px 50px;

    &--sub {
      height: 235px;
      padding-top: 44px;
    }
  }
}

@media (min-width: $desktop-width) {
  .description {
    width: 702px;
    height: 205px;
    margin: 0 auto;
    padding: 29px 50px;

    &--sub {
      height: 197px;
      padding-top: 30px;
    }
  }

  .description__title {
    margin: 24px;
  }

  .description__text {
    margin-top: 29px;
  }
}
