.font-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  &--big {
    font-size: 21px;
  }
}

@media (min-width: $tablet-width) {
  .font-title {
    font-size: 21px;

    &--big {
      font-size: 30px;
    }
  }
}
