@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: $tablet-width) {
  // .footer {
  //   margin-top: 50px;
  // }
}
