@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: $tablet-width) {
  // .footer {
  //   margin-top: 50px;
  // }
}

@media (min-width: $desktop-width) {
  .footer {
    width: $desktop-width;
    height: 100px;
    margin: 0 auto;
    padding: 20px 0 0 0;
  }
}
