@media (min-width: $tablet-width) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    width: $tablet-width;
    height: 120px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .footer {
    width: $desktop-width;
    padding: 20px 0 0 0;
  }
}
