.form {
  padding: 20px;
  text-align: left;
}

.form__title {
  text-align: center;
  margin: 0;
  margin-bottom: 12px;
}

.form__label {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 60px;
  line-height: 59px;

  &__text {
    display: inline-block;
    margin-right: 10px;
  }

  &__text-desktop {
    display: none;
  }

  &__radio-text {
    padding-left: 75px;

      &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background: $input-color;
    }
  }

  &__checkbox-text {
    padding-left: 75px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 55px;
      height: 55px;
      border-radius: 5px;
      background: $input-color;
    }
  }
}

.form__input {
  display: inline-block;
  box-sizing: border-box;
  font-size: 18px;
  height: 59px;
  width: 100%;
  background: $input-color;
  border: none;
  padding: 15px;

  &--size-s {
    width: 70%;
  }

  &--size-m {
    width: 82%;
  }

  &--comment {
    width: 90%;
    height: 159px;
  }
}

.form__radio {
  height: 59px;
  width: 59px;
  position: absolute;
  left: 0;
  z-index: -1;
  opacity: 0;
}

.form__radio:checked + .form__label__radio-text::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 16px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: $font-color--input;
}

.form__checkbox {
  height: 59px;
  width: 59px;
  border: none;
  position: absolute;
  left: 0;
  z-index: -1;
  opacity: 0;
}

.form__checkbox:checked + .form__label__checkbox-text::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 16px;
  width: 22px;
  height: 22px;
  background: url('../img/icon-tick.svg') no-repeat;
}


.form__endnote {
  display: none;
}

@media (min-width: $tablet-width) {
  .form {
    width: 678px;
    margin: 0 auto;
    padding: 0;
    // margin-top: 15px;
    // margin-bottom: 20px;
  }

  .form__title {
    //margin: 0 0 50px 0;
    flex-grow: 1;

    &--left {
      text-align: left;
    }
  }

  .form__label {
    min-width: 200px;
  }

  .form__input {
    &--size-s {
      width: 179px;
    }

    &--size-m {
      width: 216px;
    }

    &--tablet {
      width: 100%;
    }

    &--comment {
      width: 100%;
      height: 159px;
      margin-bottom: 60px;
    }
  }

  .form__endnote {
    display: inline-block;
    width: 300px;
    color: $font-color--input;
  }
}

@media (min-width: $desktop-width) {
  .form {
    width: 960px;
    margin: 10px auto;
    padding: 0;
  }

  .form__label {
    vertical-align: middle;
  }

  .form__label__text {
    &--desktop {
      display: inline-block;
    }

    &--desktop-off {
      display: none;
    }
  }

  .form__input {
    &--size-s {
      width: 300px;
    }

    &--size-m {
      width: 350px;
    }

    &--tablet {
      width: 320px;

      &::after {
        content: "";
        display: inline-block;
        width: 59px;
        height: 59px;
        background: url('../img/icon-mile.svg') no-repeat;
        z-index: 2;
      }
    }

    &--comment {
      width: 100%;
      height: 159px;
      margin: 50px 0;
    }
  }

  .form__title {
    &--left {
      text-align: left;
    }
  }
}
