.get-feedback {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .get-feedback {
    flex-direction: row;
    flex-wrap: wrap;

    &__impression {
      order: -1;
      min-width: 324px;
      flex-grow: 1;
    }

    &__name {
      min-width: 324px;
      flex-grow: 1;
      text-align: right;
    }

    &__contact {
      margin: 40px 0;
      min-width: 648px;
    }

    &__visit {
      //display: flex;
      //flex-wrap: wrap;
      min-width: 648px;
      margin-bottom: 60px;
    }

    &__feedback {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 60px;
    }
  }
}
