.header {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 450px;
  background-color: #ffffff;
}

.header__logo {
  position: relative;
  display: inline-block;
  width: 101px;
  height: 84px;
  background-image: url("../img/logo-sedona-mobile.svg");
  z-index: 3;
}

.header__nav-toggle {
  position: absolute;
  top: $menu-item-height * 4;
  border: none;
  background: transparent;
  right: -12px;
  font-size: 0;

  &__open {
    vertical-align: middle;
  }

  &__close {
    top: -40%;
  }
}

@media (min-width: $tablet-width) {
  .header {
    min-width: $tablet-width;
    min-height: 348px;
  }

  .header__logo {
    width: 102px;
    background-image: url("../img/logo-sedona-tablet.svg");
  }

  .header__nav-toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .header {
    width: $desktop-width;
    margin: 0 auto;
  }

  .header__logo {
    width: 185px;
    height: 96px;
    background-image: url("../img/logo-sedona-desktop.svg");
  }
}
