.header {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 450px;
  background-color: #ffffff;
}

.header__logo {
  margin: auto;
}

.header__nav-toggle {
  position: absolute;
  top: $menu-item-height * 4;
  right: 0;
  font-size: 0;

  &--open {
    vertical-align: middle;
  }

  &--close {
    top: 0;
  }
}

@media (min-width: $tablet-width) {
  .header {
    min-width: $tablet-width;
    min-height: 348px;
  }

  .header__nav-toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .header {
    min-width: $desktop-width;
  }
}
