.header {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 450px;
  background-color: #ffffff;
}

.header__logo {
  // position: absolute;
  // top:
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .header {
    min-width: $tablet-width;
    min-height: 576px;
  }

  .header__nav-toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .header {
    min-width: $desktop-width;
  }
}
