.intro {
  min-width: 320px;
  min-height: 320px;
  font-size: 0;
  background: $main-color url("../img/text-sedona-index.svg") center/90% no-repeat, url("../img/bg-back-mobile@1x.jpg") center/200% no-repeat;

  &--sub {
    min-height: 160px;
    background: url("../img/text-sedona.svg") center/75% no-repeat, url("../img/bg-back-mobile@1x.jpg") center/100% no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .intro {
    min-width: $tablet-width;
    min-height: 483px;
    background: url("../img/text-sedona-index.svg") center no-repeat, url("../img/bg-back-mobile@1x.jpg") center/200% no-repeat;

    &--sub {
      min-height: 293px;
      background: url("../img/text-sedona.svg") center/65% no-repeat, url("../img/bg-back-mobile@1x.jpg") center/100% no-repeat;
    }
  }
}

@media (min-width: $desktop-width) {
  .intro {
    min-width: $desktop-width;
    min-height: 520px;
  }
}
