.media {

}

.media__item {
  position: relative;
  margin: 20px;
  text-align: left;
}

.media__photo {
  width: 100%;
}

.media__title {
  font-weight: bold;
  margin-bottom: 0;
}

.media__author {
  text-transform: none;
  margin: 0;
}

.media__like-pic {
  position: absolute;
  bottom: 0;
}
.media__like-count {
  padding-left: 40px;
  font-weight: bold;
}
