.nav {
  background-color: $main-color;
}

.nav__list {
  display: flex;
  flex-direction: column;
}

.nav__item {
  height: $menu-item-height;
  line-height: $menu-item-height;

  &--logo {
    //height: 43px;
    background: #ffffff;
  }

  &--logo-sub {
    height: 43px;
  }
}

.nav__link {
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .nav {
    background: #ffffff;
  }

  .nav__list {
    flex-direction: row;
    justify-content: space-around;
  }

  .nav__item {
    min-width: 145px;

    &--pos1 {
      order: -3;
    }

    &--pos2 {
      order: -2;
    }

    &--logo {
      order: -1;
      position: static;
    }
  }

  .nav__link {
    color: black;
  }
}

@media (min-width: $desktop-width) {
  .nav__item {
    min-width: 202px;
  }
}
