.prompt {
  display: flex;
  flex-direction: column;
  margin: 11px auto;
  padding: 0 20px;
  height: 160px;

  &--sub {
    height: 182px;
    padding: 20px;
  }
}

@media (min-width: $tablet-width) {
  .prompt {
    padding: 40px 0;
    width: 648px;
    height: 295px;

    &--sub {
      height: 222px;
      padding: 50px 0;
    }
  }

  .prompt__title {
    font-size: 30px;
    margin: 8px 0;
  }

  .prompt__text {
    margin: 20px 0 40px 0;
    padding: 0 80px;
    line-height: 24px;
  }

  .prompt__request {
    margin: 0 auto;
    width: 459px;
  }
}

@media (min-width: $desktop-width) {
  .prompt {
    margin: 0 auto;
    padding: 50px 0;
    height: 330px;

    &--sub {
      padding-top: 52px;
      height: 245px;
    }
  }

  .prompt__title {
    margin: 8px 0 18px 0;
  }

  .prompt__text {
    margin: 11px 0 46px 0;
    padding: 0 110px;
  }

  .prompt__request {
    margin: 0 auto;
    width: 459px;
  }
}
