@mixin before-icon {
  content: "";
  display: block;
  position: absolute;
  left: 100px;
  min-width: 80px;
  min-height: 80px;
}

.service {
  @include list-style-none;

  position: relative;
  text-align: left;
  padding-left: 20%;
}

.service__svg {
  position: absolute;
  left: 5%;
}

@media (min-width: $tablet-width) {
  .service {
    display: flex;
    padding: 0;
  }

  .service__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 256px;
    height: 330px;
  }

  .service__svg {
    position: relative;
  }
}
