.social {

}

.social__hashtag {

}

.social-list {
  @include list-style-none;
}

.social-list__item {
  display: inline-block;
  width: 47px;
  height: 47px;
  background: $main-color;
  font-size: 0;
}

.social-list__twitter {

}

.social-list__fb {
  padding-left: 10px;
}

.social-list__youtube {

}

.social-list__svg {
  position: relative;
  top: 12px;
}
