.videoplayer {
  margin: 0 0 30px 0;
  width: 100%;
  min-height: 261px;

  &__wrap {
    margin: 0 auto;
    position: relative;
    min-height: 201px;
  }
}

.videoplayer__picture-none {
  height: 0px;
}

.videoplayer__controls {
  position: relative;
  height: 65px;
  background: $input-color;

  &--wrap {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 6%;
    bottom: -60px;
    width: 87%;
    height: 111px;
    background: transparent;
  }
}

.controls__btn {
  border: none;
  background: transparent;
}

.videoplayer__controls__replay {
  position: absolute;
  top: 36%;
  left: 7%;
}

.videoplayer__controls__sub {
  position: absolute;
  top: 36%;
  right: 24%;
}

.videoplayer__controls__fullscreen {
  position: absolute;
  top: 36%;
  right: 5%;
}

.videoplayer__progress {
  position: relative;
  height: 45px;
  background: #000000;
  opacity: 0.8;
}

.progress__value {
  position: absolute;
  top: 42%;
  left: 22%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #ffffff;
  z-index: 2;
}

.progress__bar {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 80%;
  height: 3px;
  background: #ffffff;
  opacity: 0.3;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .videoplayer {
    width: 100%;
    min-height: 455px;
    margin: 0 0 35px 0;

    &__wrap {
      width: 650px;
      min-height: 451px;
    }
  }

  .videoplayer__controls {
    height: 100%;
    width: 100%;
    background: transparent;
    position: absolute;
    z-index: 2;

    &--wrap {
      bottom: 4px;
      left: 0;
      width: 100%;
      height: 95px;
    }
  }

  .videoplayer__controls__replay {
    left: 4%;
    fill: $input-color;
  }

  .videoplayer__controls__sub {
    right: 13%;
    fill: $input-color;
  }

  .videoplayer__controls__fullscreen {
    right: 4%;
    fill: $input-color;
  }

  .videoplayer__progress {
    height: 100%;
  }

  .progress__bar {
    top: 47%;
  }

  .progress__value {
    left: 32%;
    top: 44%;
  }
}

@media (min-width: $desktop-width) {
  .videoplayer {
    margin-bottom: 40px;
    width: 800px;
  }
}
