@mixin font-title {
  //font: bold uppercase 18px/26px "PT Sans" sans-serif;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
